<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://twitterservisi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>twitterservisi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>twitterservisi</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$twitterservisi</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="twitterEntities1" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="TwitterDeneme1.twitterEntities1, TwitterDeneme1" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="dbTwitterEntitiesSOA" Order="2" Enabled="False">
          <Destination Path="Data Source=demircanfetiye.database.windows.net;Initial Catalog=dbTwitter;User ID=fetiyedemircan;Password=1504Fty." />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=demircanfetiye.database.windows.net;Initial Catalog=dbTwitter;User ID=fetiyedemircan;Password=1504Fty.;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\dbTwitterEntitiesSOA_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/TweetModelSOA.csdl|res://*/TweetModelSOA.ssdl|res://*/TweetModelSOA.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=demircanfetiye.database.windows.net;initial catalog=dbTwitter;user id=fetiyedemircan;password=1504Fty.;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="dbTwitterEntities" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=demircanfetiye.database.windows.net;Initial Catalog=dbTwitter;User ID=fetiyedemircan;Password=1504Fty.;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\dbTwitterEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/TweetModel.csdl|res://*/TweetModel.ssdl|res://*/TweetModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=demircanfetiye.database.windows.net;initial catalog=dbTwitter;user id=fetiyedemircan;password=1504Fty.;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="twitterEntities" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=.;Initial Catalog=twitter;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\twitterEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/twitter.csdl|res://*/twitter.ssdl|res://*/twitter.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=twitter;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)dbTwitterEntities-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)dbTwitterEntitiesSOA-Web.config Connection String">
      <ParameterValue>metadata=res://*/TweetModelSOA.csdl|res://*/TweetModelSOA.ssdl|res://*/TweetModelSOA.msl;provider=System.Data.SqlClient;provider connection string="data source=demircanfetiye.database.windows.net;initial catalog=dbTwitter;user id=fetiyedemircan;password=1504Fty.;MultipleActiveResultSets=True"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)twitterEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)twitterEntities1-Web.config Connection String" />
  </ItemGroup>
</Project>